@inherits ChapterPageBase

@code {
	public override EnumChapter Chapter => EnumChapter.C_1_1;
}
<div>
	<ul>
		<li>
			您可以点击并展开/收缩 带 <i class="card-collapse-arrow fa-solid fa-circle-chevron-right"></i> 的栏目以看到更多内容
		</li>
		<li>
			在装备栏您可以看到目前的装备. 同样在技能栏可以看到一个技能栏. 它应该是空的.
		</li>
		<li>
			点击技能栏上的 <i class="fas fa-gear"></i> 图标. 将会展开更多的选项. 帮助您将一个技能装备在身上.
		</li>
		<li>
			当您武装完毕后, 就可以尝试选择地图, 并开始战斗.
		</li>
	</ul>
</div>