@inherits ChapterPageBase

@code {
	public override EnumChapter Chapter => EnumChapter.C_1_3;
}
<div>
	<ul>
		<li>
			越来越熟练了. 你再次获得了胜利.
		</li>
		<li>
			随着技艺不断的提升,可供你探索的地区也在扩大.
		</li>
		<li>
			新的地图可能会包含复数的敌人, 它们有不同的特点. 请谨慎对待.
		</li>
		<li>
			你解锁了目标优先级. 可以选择优先攻击那些目标,而不是按照顺序由前到后.
		</li>
		<li>
			选择一个主目标策略,选择地图 黑暗的海滩 2, 并取得战斗的胜利.
		</li>
	</ul>
</div>