@inherits ItemPagePage
<Card>
  <HeaderTemplate>
    物品
  </HeaderTemplate>
  <BodyTemplate>
    <h5>
      <Button class="btn btn-primary" Text="拾取物品" OnClick="ShowPickList" />
      <Button class="btn btn-primary" Text="背包" OnClick="ShowInventory" />
    </h5>
  </BodyTemplate>
</Card>