@inherits ItemPickListPage
<h3>ItemPickList</h3>
@if (Items != null)
{
  foreach (var item in Items)
  {
    <p>
      <Checkbox DisplayText="选择" TValue="Guid" Value="item.Id" OnStateChanged="ItemPickSelected" />
      @item.Name
    </p>
  }
}

