@inherits SkillSlotPage
<Card Color="SkillBordColor">
	<HeaderTemplate>
		@Slot.GetEnumString()


		@if (!Avaliable)
		{
			<span class="text-danger">@SkillBordColor.UnAvliable()</span>
		}
	</HeaderTemplate>
	<BodyTemplate>
		@if (Avaliable)
		{
			<div>
				<BootstrapInputGroup>
					<Button Size="Size.Small" OnClick="()=>SlotSelectOpen(null)" Icon="fas fa-bars-progress"></Button>
					<Dropdown Size="Size.Small" FixedButtonText="1" TValue="EnumSkillAndStrategy" OnSelectedItemChanged="SelectedItemChanged" Items="SelectedItemHelper.GetSelectedItem<EnumSkillAndStrategy>(false)" Value="OptionSelected" Color="Color.Success" />
				</BootstrapInputGroup>
			</div>


		}
		else
		{
			<br />
		}
		<h5>
			@(SelectedDTO?.SkillName ?? "未选择技能")
		</h5>
		<p>
			辅助技能
		</p>
		<p>
			@if (SelectedDTO?.SupportSkills?.Any() == true)
			{
				foreach (var s in SelectedDTO.SupportSkills)
				{
					<span>@s.SkillName</span>
					<span> </span>
				}
			}
		</p>
		<p>
			策略数量 @SelectedDTO?.SkillStrategies?.Count()
		</p>
	</BodyTemplate>
	<FooterTemplate>
		汇总信息:
	</FooterTemplate>
</Card>