@inherits SkillSlotPage
<Card Color="SkillBordColor">
	<HeaderTemplate>
		@Slot.GetEnumString()


		@if (!Avaliable)
		{
			<span class="text-danger">@SkillBordColor.UnAvliable()</span>
		}
	</HeaderTemplate>
	<BodyTemplate>
		@if (Avaliable)
		{
			<BootstrapInputGroup>
				<Button OnClick="()=> OpenSelect()" Color="Color.Primary" Size="Size.ExtraSmall">技能与策略</Button>
				<Button OnClick="()=> OpenSelect(true,false)" Color="Color.Success" Size="Size.ExtraSmall">仅技能</Button>
				<Button OnClick="()=> OpenSelect(false,true)" Color="Color.Warning" Size="Size.ExtraSmall">仅策略</Button>
			</BootstrapInputGroup>
		}
		else
		{
			<br />
		}
		<h5>
			@(SelectedDTO?.SkillName ?? "未选择技能")
		</h5>
		<p>
			关联技能
		</p>
		<p>
			@if (SelectedDTO?.SupportSkills?.Any() == true)
			{
				foreach (var s in SelectedDTO.SupportSkills)
				{
					<span>@s.SkillName</span>
					<span> </span>
				}
			}
		</p>
		<p>
			策略数量 @SelectedDTO?.SkillStrategies?.Count()
		</p>
	</BodyTemplate>
	<FooterTemplate>
		汇总信息:
	</FooterTemplate>
</Card>