@inherits ChapterPageBase

@code {
	public override EnumChapter Chapter => EnumChapter.C_1_4;
}
<div>
	<ul>
		<li>
			你战胜了刺客. 
		</li>
		<li>
			你已经学会了基础的战斗. 现在到了解放双手的时刻了. 
		</li>
		<li>
			是的. 鱼 要摸起来了
		</li>
		<li>
			自动战斗 已经解锁.
		</li>
		<li>
			选择地图 并开始战斗 选择 自动战斗. 解放你的双手.
		</li>
	</ul>
</div>