@using DQQ.Web.Pages.DQQs.Items
@using DQQ.Web.Pages.DQQs.Items.Components
@inherits EquipmentPagePage
<style>
	.select_slot {
		border: 1px solid red;
	}
</style>
<Card>
	<HeaderTemplate>
		装备栏
	</HeaderTemplate>
	<BodyTemplate>
		<div class="row g-3">
			<div class="col-6 col-sm-4">
				<div class="row g-3">
					<div class="col-4">
						
					</div>
					<div class="col-4">
						<EquipInSlot SelectedSlots="SelectedSlot" OnComponentClicked="EquipSlotClicked" Equips="SelectedCharacter?.EquipItems" Slots="EnumEquipSlot.Head" />
					</div>

					<div class="col-4">
						<EquipInSlot SelectedSlots="SelectedSlot" OnComponentClicked="EquipSlotClicked" Equips="SelectedCharacter?.EquipItems" Slots="EnumEquipSlot.Amulet" />
					</div>

					<div class="col-4">
						<EquipInSlot SelectedSlots="SelectedSlot" OnComponentClicked="EquipSlotClicked" Equips="SelectedCharacter?.EquipItems" Slots="EnumEquipSlot.MainHand" />
					</div>

					<div class="col-4">
						<EquipInSlot SelectedSlots="SelectedSlot" OnComponentClicked="EquipSlotClicked" Equips="SelectedCharacter?.EquipItems" Slots="EnumEquipSlot.Body" />
					</div>

					<div class="col-4">
						<EquipInSlot SelectedSlots="SelectedSlot" OnComponentClicked="EquipSlotClicked" Equips="SelectedCharacter?.EquipItems" Slots="EnumEquipSlot.OffHand" />
					</div>

					<div class="col-4">
						<EquipInSlot SelectedSlots="SelectedSlot" OnComponentClicked="EquipSlotClicked" Equips="SelectedCharacter?.EquipItems" Slots="EnumEquipSlot.Gloves" />
					</div>

					<div class="col-4">
						<EquipInSlot SelectedSlots="SelectedSlot" OnComponentClicked="EquipSlotClicked" Equips="SelectedCharacter?.EquipItems" Slots="EnumEquipSlot.Boots" />
					</div>

					<div class="col-4">
					</div>

					<div class="col-4">
						<EquipInSlot SelectedSlots="SelectedSlot" OnComponentClicked="EquipSlotClicked" Equips="SelectedCharacter?.EquipItems" Slots="EnumEquipSlot.LeftRing" />
					</div>

					<div class="col-4">
						<EquipInSlot SelectedSlots="SelectedSlot" OnComponentClicked="EquipSlotClicked" Equips="SelectedCharacter?.EquipItems" Slots="EnumEquipSlot.Belt" />
					</div>


					<div class="col-4">
						<EquipInSlot SelectedSlots="SelectedSlot" OnComponentClicked="EquipSlotClicked" Equips="SelectedCharacter?.EquipItems" Slots="EnumEquipSlot.RightRing" />
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-8">
				<Tag @onclick="()=>EquipSlotClicked(null)">重置</Tag>
				@if (ShowSider)
				{
					<Tag @onclick="()=>ShowDraw()">查看</Tag>
				}
			</div>
		</div>
		


	</BodyTemplate>
</Card>