@using DQQ.Web.Pages.DQQs.Items
@inherits ItemDetailPagePage
<Card>
<HeaderTemplate>
详情
</HeaderTemplate>
<BodyTemplate>
		<div class="row g-3">
			@if (SelectedItem != null)
			{
				<div class="col-md-12">
					<Button IsBlock="true" IsAsync="true" Color="Color.Danger" OnClick="UnEquip">卸下装备</Button>
				</div>
				<div class="col-md-12">
					<ItemComponent Item="SelectedItem" />
				</div>
				

			}
			@if (ItemSelected != null)
			{
				if (SelectedSlot != null && ItemSelected?.Id != SelectedItem?.Id)
				{
					<Button IsBlock="true" IsAsync="true" Color="Color.Success" OnClick="Equip">装备</Button>
					<div class="col-md-12">
						<ItemComponent Item="ItemSelected" />
					</div>


				}

				
				@* <div class="col-md-12">
					<Button IsBlock="true" IsAsync="true" Color="Color.Danger">变卖</Button>
				</div> *@

			}
		</div>
</BodyTemplate>
</Card>