@using DQQ.Web.Pages.DQQs.Items
@inherits ItemDetailPagePage

<Card class="sticky-top">
<HeaderTemplate>
详情
</HeaderTemplate>
<BodyTemplate>
		<div class="row g-3">
			@if (SelectedItem != null)
			{
				<div class="col-md-12">
					<Button IsBlock="true" IsAsync="true" Color="Color.Danger" OnClick="UnEquip">卸下装备</Button>
				</div>
				<div class="col-md-12">
					<ItemComponent Item="SelectedItem" />
				</div>
				

			}
			@if (ItemSelected != null)
			{
				if (SelectedSlot != null && ItemSelected.IsTempItem != true && ItemSelected?.Id != SelectedItem?.Id)
				{
					<Button IsBlock="true" IsAsync="true" Color="Color.Success" OnClick="Equip">装备</Button>
				}
				if (ItemSelected?.Id != SelectedItem?.Id)
				{
					<div class="col-md-12">
						<ItemComponent Item="ItemSelected" />
					</div>
				}
				if (ItemSelected?.IsTempItem == true)
				{
					<Button IsBlock="true" IsAsync="true" Color="Color.Success" OnClick="Pick">拾取</Button>
				}
				if (IsMultiSelect)
				{
					<Button IsBlock="true" IsAsync="true" Color="Color.Warning" OnClick="PickAll">全部拾取</Button>
				}
			}
		</div>
</BodyTemplate>
</Card>