@using DQQ.Web.Pages.DQQs.Items.Components
@inherits PickupPagePage
<Card>
	<HeaderTemplate>
		战利品
	</HeaderTemplate>
	<BodyTemplate>
		<Card>
			<BodyTemplate>
				<BootstrapInputGroup>
					<Toggle Value="IsShowCurrency" ValueChanged="()=>ShowCurrency()" OnText="通货" OffText="通货" Color="Color.Primary" />
					<Toggle Value="IsMultiSelect" ValueChanged="()=>MultiSelectChange()" OnText="多选" OffText="多选" Color="Color.Success" />
					@if (IsMultiSelect)
					{
						<Button OnClick="SelectAll">全选</Button>
					}
				</BootstrapInputGroup>
				<BootstrapInputGroup>
					
					@foreach (var r in RaritySelect)
					{
						<BootstrapInputGroupLabel DisplayText="@r.Label" />
						<Checkbox OnStateChanged="CheckboxStateChange" TValue="bool" @bind-Value="@r.Selected" Color="r.GetColor()" />
					}


				</BootstrapInputGroup>
				<Pagination PageCount="@PageCount" PageIndex="PageSelected" OnPageLinkClick="PageSelect" />
			</BodyTemplate>
		</Card>
		<Card>
			<BodyTemplate>
				<div class="row g-3">
					@if (PagedItems?.Any() == true)
					{
						foreach (var item in PagedItems)
						{
							<div class="col-3 col-sm-3 col-md-3 col-lg-2">
								<ItemBrief IsMultiSelect="IsMultiSelect" OpenOrClose="OpenOrClose" OnItemClicked="OnItemClicked" ItemSelected="ItemSelected" Item="item" />
							</div>
						}
					}

				</div>
			</BodyTemplate>
		</Card>
	</BodyTemplate>
</Card>