@if (IsButton)
{
	<Button OnClick="OpenDrawer" Icon="fas fa-circle-info" Color="Color.Primary"></Button>
}
else
{
	<span class="ms-1">
		<i class="fas fa-circle-info text-primary" @onclick="()=>OpenDrawer()"></i>
	</span>
}


<Drawer Placement="Placement.Right" @bind-IsOpen="@IsOpen" IsBackdrop="true">
	<div class="d-flex justify-content-center align-items-center ">
		<Button OnClick="OpenDrawer">关闭</Button>
	</div>
	@if (ChildContent != null)
	{
		@ChildContent
	}
</Drawer>
@code {
	[Parameter]
	public bool IsButton { get; set; }

	[Parameter]
	public RenderFragment? ChildContent { get; set; }
	public bool IsOpen { get; set; }

	public Task OpenDrawer()
	{
		IsOpen = !IsOpen;
		StateHasChanged();
		return Task.CompletedTask;
	}
}
