@inherits HomePage
@page "/"
@using DQQ.Web.Pages.Auths
@using DQQ.Web.Pages.DQQs.Characters
@using DQQ.Web.Pages.DQQs.CombatProperties
@using DQQ.Web.Pages.DQQs.Combats
@using DQQ.Web.Pages.DQQs.Combats.Components
@using DQQ.Web.Pages.DQQs.Inventories
@using DQQ.Web.Pages.DQQs.Items
@using DQQ.Helper
@using DQQ.Web.Pages.DQQs.Builds
@using DQQ.Web.Pages.DQQs.Maps
@using DQQ.Web.Pages.DQQs.Settings
@using DQQ.Web.Pages.DQQs.Chapters
@using DQQ.Web.Pages.DQQs.Skills.Components
<PageTitle>Home</PageTitle>
@if (String.IsNullOrEmpty(UserId))
{
	<div>
		<Tab IsBorderCard="true">
			<TabItem Text="登录">
				<Login />
			</TabItem>
			<TabItem Text="注册">
				<Register />
			</TabItem>
		</Tab>
	</div>

}
else
{
	if (ActorId == null)
	{
		<CharacterList ParentRefreshEvent="RefreshEvent" />
	}
	else
	{
		if (SelectedCharacter == null)
		{
			<div class="d-flex justify-content-center">
				<Spinner></Spinner>
			</div>
		}
		else
		{
			if (SelectedCharacter.Chapter == EnumChapter.None)
			{
				<ChapterMainPage SelectedCharacter="SelectedCharacter" ParentRefreshEvent="RefreshEvent"></ChapterMainPage>
			}
			else
			{
				<div class="sticky-top">
					<Card>
						<BodyTemplate>
							
							<BootstrapInputGroup>
								@if (EnumProgress.InventoryManagement.IsUnlocked(SelectedCharacter))
								{
									<CharacterInfo SelectedCharacter="SelectedCharacter" />
								}
								
								<Button Color="Color.Success" OnClick="()=> ChangePage(EnumWebPage.Home)">主页</Button>
								@if (EnumProgress.SkillManagement.IsUnlocked(SelectedCharacter))
								{
									<Button Color="Color.Warning" OnClick="()=> ChangePage(EnumWebPage.Skills)">技能</Button>
								}
								@if (EnumProgress.MainTargetPriority.IsUnlocked(SelectedCharacter))
								{
									<Button Color="Color.Info" OnClick="()=> ChangePage(EnumWebPage.Strategy)">策略</Button>
								}
								@if (EnumProgress.CombatProgress.IsUnlocked(SelectedCharacter))
								{
									<Button Color="Color.Danger" OnClick="()=> ChangePage(EnumWebPage.Map)">地图</Button>
								}
								@if (SelectedMap != null && EnumProgress.CombatProgress.IsUnlocked(SelectedCharacter))
								{
									<Button Color="Color.Warning" OnClick="()=> ChangePage(EnumWebPage.Combat)">战斗</Button>
								}
								@if (EnumProgress.InventoryManagement.IsUnlocked(SelectedCharacter))
								{
									<Button Color="Color.Dark" OnClick="()=> ChangePage(EnumWebPage.Inventory)">装备</Button>
									<Button Color="Color.Secondary" OnClick="()=> ChangePage(EnumWebPage.Loot)">战利品</Button>
								}
								
								@if (EnumProgress.CombatPlaySetting.IsUnlocked(SelectedCharacter))
								{
									<Button OnClick="()=> ChangePage(EnumWebPage.Setting)">设置</Button>
								}
							</BootstrapInputGroup>
							
						</BodyTemplate>
					</Card>
				</div>
				<ChapterMainPage SelectedCharacter="SelectedCharacter" ParentRefreshEvent="RefreshEvent"></ChapterMainPage>


				switch (WebPage)
				{
					case EnumWebPage.Home:
						<SelectedCharacter CharacterId="ActorId" Character="SelectedCharacter" CleanSelectedChar="SelectCharacter" ParentRefreshEvent="RefreshEvent" />
						
						break;
					case EnumWebPage.Skills:
						<SkillBoxSelect SelectedCharacter="SelectedCharacter" ParentRefreshEvent="RefreshEvent" />
						break;

					case EnumWebPage.Strategy:
						<BuildPage SelectedCharacter="SelectedCharacter" ParentRefreshEvent="RefreshEvent" />
						break;

					case EnumWebPage.Map:
						<MapPage SelectedCharacter="SelectedCharacter" ParentRefreshEvent="RefreshEvent" SelectedMap="@SelectedMap" OnMapSelected="OnMapSelected" />
						break;
					case EnumWebPage.Combat:
						<CombatPlayList ActorId="ActorId" SelectedCharacter="SelectedCharacter" ParentRefreshEvent="RefreshEvent" MapNumber="@SelectedMap" />
						break;
					case EnumWebPage.Inventory:
						<InventoryPage ActorId="ActorId" SelectedCharacter="SelectedCharacter" ParentRefreshEvent="RefreshEvent" />
						break;
					case EnumWebPage.Loot:
						<ItemPickList ActorId="ActorId" />
						break;
					case EnumWebPage.Setting:
						<SettingPage />
						break;
				}
			}
		}
	}
}






