@inherits HomePage
@page "/"
@using DQQ.Web.Pages.Auths
@using DQQ.Web.Pages.DQQs.Characters
@using DQQ.Web.Pages.DQQs.CombatProperties
@using DQQ.Web.Pages.DQQs.Combats
@using DQQ.Web.Pages.DQQs.Combats.Components
@using DQQ.Web.Pages.DQQs.Inventories
@using DQQ.Web.Pages.DQQs.Items
@using DQQ.Helper
@using DQQ.Web.Pages.DQQs.Builds
@using DQQ.Web.Pages.DQQs.Maps
@using DQQ.Web.Pages.DQQs.Settings
@using DQQ.Web.Pages.DQQs.Chapters
@using DQQ.Web.Pages.DQQs.Skills.Components
<PageTitle>Home</PageTitle>
@if (Layout?.Status != null)
{
	if (String.IsNullOrEmpty(Layout?.Status?.OwnerId))
	{
		<Card>
			<BodyTemplate>
				<BootstrapInputGroup>
					<Button Color="Color.Success" OnClick="()=>{Layout?.SetGamePlay(Enums.EnumPlayMode.Online);}">在线</Button>
					<Button Color="Color.Warning" OnClick="()=>{Layout?.SetGamePlay(Enums.EnumPlayMode.Offline);}">离线</Button>
				</BootstrapInputGroup>
				<p>
					游戏产生的临时数据将保存在浏览器的 Indexeddb 中.
				</p>
			</BodyTemplate>
		</Card>
		<Card>
			<BodyTemplate>
				@switch (Layout?.Status?.PlayMode)
				{
					case Enums.EnumPlayMode.Online:
					<Tab IsOnlyRenderActiveTab="true">
						<TabItem Text="登录">
							<Login />
						</TabItem>
						<TabItem Text="注册">
							<Register />
						</TabItem>
					</Tab>
					break;
					case Enums.EnumPlayMode.Offline:
					<OfflineMode />
					break;
				}

			</BodyTemplate>
		</Card>
	}
	else
	{
		if (ThisActorId == null)
		{
			<CharacterList ParentRefreshEvent="RefreshEvent" />
		}
		else
		{
			if (ThisSelectedCharacter == null)
			{
				<div class="d-flex justify-content-center">
					<Spinner></Spinner>
				</div>
			}
			else
			{
				if (ThisSelectedCharacter.Chapter == EnumChapter.None)
				{
					<ChapterMainPage SelectedCharacter="ThisSelectedCharacter" ParentRefreshEvent="RefreshEvent"></ChapterMainPage>
				}
				else
				{
					switch (WebPage)
					{
						case EnumWebPage.Home:
						<SelectedCharacter CharacterId="ThisActorId" Character="ThisSelectedCharacter" CleanSelectedChar="SelectCharacter" ParentRefreshEvent="RefreshEvent" />
						<ChapterMainPage SelectedCharacter="ThisSelectedCharacter" ParentRefreshEvent="RefreshEvent"></ChapterMainPage>
						break;
						case EnumWebPage.Skills:
						<SkillBoxSelect SelectedCharacter="ThisSelectedCharacter" ParentRefreshEvent="RefreshEvent" />
						break;

						case EnumWebPage.Strategy:
						<BuildPage SelectedCharacter="ThisSelectedCharacter" ParentRefreshEvent="RefreshEvent" />
						break;

						case EnumWebPage.Map:
						<MapPage OnJoinMap="OnJoinMap" SelectedCharacter="ThisSelectedCharacter" ParentRefreshEvent="RefreshEvent" SelectedMap="@SelectedMap" OnMapSelected="OnMapSelected" />
						break;
						case EnumWebPage.Combat:
						<CombatPlayList ActorId="ThisActorId" SelectedCharacter="ThisSelectedCharacter" ParentRefreshEvent="RefreshEvent" StartCombatWhenInit="@StartCombat" ContinueCombat="@KeepCombat" MapNumber="@SelectedMap" />
						break;
						case EnumWebPage.Inventory:
						<InventoryPage InventoryQueryRequest="QueryInventory" Items="CharacterInventory" ActorId="ThisActorId" SelectedCharacter="ThisSelectedCharacter" ParentRefreshEvent="RefreshEvent" />
						break;
						case EnumWebPage.Setting:
						<SettingPage />
						break;
					}
				}
			}
		}
	}
}







