@inherits HomePage
@page "/"
@using DQQ.Web.Pages.Auths
@using DQQ.Web.Pages.DQQs.Characters
@using DQQ.Web.Pages.DQQs.Combats
@using DQQ.Web.Pages.DQQs.Items
@using DQQ.Helper
@using DQQ.Web.Pages.DQQs.Builds
@using DQQ.Web.Pages.DQQs.Settings
@using DQQ.Web.Pages.DQQs.Chapters
<PageTitle>Home</PageTitle>
<Button Color="Color.Success" Text="ReadMe" OnClick="OpenReadMe" />
<Button Color="Color.Primary" Text="提示" OnClick="OpenTips" />
@Localizer["greeting"]
@if (String.IsNullOrEmpty(UserId))
{
	<div>
		<Tab IsBorderCard="true">
			<TabItem Text="登录">
				<Login />
			</TabItem>
			<TabItem Text="注册">
				<Register />
			</TabItem>
		</Tab>
	</div>
}
else
{
	if (ActorId == null)
	{
		<CharacterList ParentRefreshEvent="RefreshEvent" />
	}
	else
	{
		if (SelectedCharacter == null)
		{
			<div class="d-flex justify-content-center">
				<Spinner></Spinner>
			</div>
		}
		else
		{
			if (SelectedCharacter.Chapter == EnumChapter.None)
			{
				<ChapterMainPage SelectedCharacter="SelectedCharacter" ParentRefreshEvent="RefreshEvent"></ChapterMainPage>
			}
			else
			{
				<ChapterMainPage SelectedCharacter="SelectedCharacter" ParentRefreshEvent="RefreshEvent"></ChapterMainPage>

				<Card>
					<BodyTemplate>
						<Button OnClick="()=> ChangePage(EnumWebPage.Home)">主页</Button>
						@if (EnumProgress.CombatPlaySetting.IsUnlocked(SelectedCharacter))
						{
							<Button OnClick="()=> ChangePage(EnumWebPage.Setting)">设置</Button>
						}
					</BodyTemplate>
				</Card>

				switch (WebPage)
				{
					case EnumWebPage.Home:
						<SelectedCharacter CharacterId="ActorId" Character="SelectedCharacter" CleanSelectedChar="SelectCharacter" ParentRefreshEvent="RefreshEvent" />
						<BuildPage SelectedCharacter="SelectedCharacter" ParentRefreshEvent="RefreshEvent" />
						@if (EnumProgress.CombatProgress.IsUnlocked(SelectedCharacter))
						{
							<CombatSummary SelectedCharacter="SelectedCharacter" ParentRefreshEvent="RefreshEvent" ActorId="ActorId" />
						}
						@if (EnumProgress.InventoryManagement.IsUnlocked(SelectedCharacter))
						{
							<ItemPage ActorId="ActorId" SelectedCharacter="SelectedCharacter" ParentGuid="ParentGuid" ParentRefreshEvent="RefreshEvent" />
						}
						break;
					case EnumWebPage.Setting:
						<SettingPage />
						break;
				}
			}
		}



	}
}






