@inherits ReadmePage
<h3>关于DQQ(斗蛐蛐)</h3>
<div>
  <p>
    本人是重度的暗黑玩家. 暗黑系列,流放之路,泰坦之旅 都是上千小时的游戏时间. 但是随着年纪的增大, 没有那么多的时间去刷了. 几年前看到一款游戏叫
    <a target="_blank" href="https://game.leiting.com/list/bxzl">不朽之旅</a> 觉得这游戏吧放置和暗黑结合在一起,岂不美哉?
  </p>
  <p>
    现实是残酷的. 这游戏既不放置,也不暗黑. 总之相当欺骗我感情.
  </p>
  <h4>
    自己干?
  </h4>
  <p>
    我想要自己做一个暗黑/流放 为基础的挂机游戏(斗蛐蛐?). 当然如果只是单纯的比数值你一刀我一刀直到一方血条清空的战斗是不够的.
  </p>
  <h4>
    目前想要做到的
  </h4>
  <ul>
    <li>
      挂机自动战斗为基础.
    </li>
    <li>
      使用暗黑系列的物品配置. 装备分级. 普通,魔法,稀有,传奇,套装.
    </li>
    <li>
      可以通过一定的手段来重置(洗)装备. 想办法平衡物品. 希望可以让所有类型装备都有使用场景
    </li>
    <li>
      自由组合技能 (流放) 但是不太想做成 流放的技能石系统. 装备又分属性又分孔的颜色和链接. 过于随机了.
    </li>
    <li>
      因为是挂机. 所以玩家在战斗前选择技能,策略. 目前想到的是 目标优先级. 技能释放的条件判断.
    </li>
  </ul>
  <p>
    这版本是最基础版本. 技能只有3个 其中一个还是boss技能. 玩家可以选择目标优先级. 可以选择技能(目前 同种技能只能选择一个). 可以选择双手武器, 单手武器,或者双持.

  </p>
  <p>
    开始战斗前会选择地图等级(可以感受一下被碾压). 战斗结果可以通查看战斗的日志来看. 可以看到怪物波次, 以及战斗情况.
  </p>
  <h4>希望得到一些验证</h4>
  <ul>
    <li>
      这样的游戏方式有没有搞头?
    </li>
    <li>
      主要是上班划水. 是否有人愿意在划水的时候玩这个?
    </li>
    <li>
      如果说做一个chrome插件之类的. 是否能更隐蔽的划水?
    </li>
  </ul>
  <p>
    <del>最后boss会仇恨打击. 玩家低血的时候小心被一套带走</del>
  </p>
</div>


