@inherits TipsPage
<h3>小提示</h3>
<ul>
  <li>
    战斗后如果怪物死亡则会获得经验和装备. 目前经验没用. 但是装备可以拾取.
  </li>
  <li>
    什么都不准备也可以进行战斗. 但是因为没有技能 会一直挨打致死. 战斗结束后可以从查看战斗处获得战斗详细情况. 
  </li>
  <li>
    目前玩家可以选择 武器(单/双手/双持) 可以选择2个技能 可以选择目标优先级. 最后一个波次的战斗会有2个怪物. boss会在后排且有一击击杀玩家的能力
  </li>

  
</ul>
<h3>感谢</h3>
<p>
  目前这个只是思路的验证. 最终的目标是实现挂机版的暗黑/流放. 玩家设置策略,技能,装备. 选择地图战斗. 系统会自动战斗并将战斗结果 胜负,经验,战斗时间等汇总发送. 
</p>
<p>
  玩家挂机划水收菜. 玩家获得的物品可以与其他玩家交易. 
</p>
<p>
  后续会更新ui层,或者其他客户端. 比如chrome插件让 划水摸鱼无限制.
</p>

