@inherits CreateCharacterPage
<h3>创建角色</h3>
<div class="row g-3">
  <div class="col-12 col-sm-6">
    <BootstrapInput PlaceHolder="请输入角色名 ..."
                    @bind-Value="Name"
                    ShowLabel="true"
                    DisplayText="角色名" />
  </div>
</div>


