@inherits SelectedCharacterPage
@page "/Character"
@using DQQ.Enums
<Card>
  <HeaderTemplate>
    当前角色
  </HeaderTemplate>
  <BodyTemplate>
    <h5><Button Color="Color.Primary" Text="更换角色" OnClick="CleanSelectedChar" /></h5>
    @if (Character != null)
    {
      <div>
        角色名 @Character.DisplayName
      </div>
      <div>
        最大生命 @Character.CombatPanel.DynamicPanel.MaximunLife
      </div>
      <div>
        主手攻击力 @Character?.CombatPanel?.DynamicPanel.MainHand
      </div>
      <div>
        副手攻击力 @Character?.CombatPanel?.DynamicPanel.OffHand
      </div>
    }
  </BodyTemplate>
</Card>


