@inherits ChapterPageBase

@code {
	public override EnumChapter Chapter => EnumChapter.C_1_7;
}
<div>
	<ul>
		<li>
			你获得了全部的技能栏. 也面临了新的挑战
		</li>
		<li>
			铁三角, 战法牧. 或者说 肉盾,输出,辅助
		</li>
		<li>
			虽然都是螃蟹, 但是螃蟹也有自己的组合. 要如何击杀他们呢? 先杀那个治疗这么?
		</li>
		<li>
			战胜 地图 黑暗的海滩 5.
		</li>
	</ul>
</div>