@inherits ChapterPageBase

@code {
	public override EnumChapter Chapter => EnumChapter.C_1_6;
}
<div>
	<ul>
		<li>
			双拳难敌四手. 你需要在有限的时间内击杀全部的怪物
		</li>
		<li>
			虽然一碰就碎,但是它们是真的多啊.
		</li>
		<li>
			解锁了辅助技能. 可以改变并增强基础技能
		</li>
		<li>
			I have a pen, I have an apple, ah apple pen!
		</li>
		<li>
			我有一个攻击,我有一个连锁辅助 ah, 连锁攻击!
		</li>
		<li>
			战胜 地图 黑暗的海滩 4. 更多的波次. 更多的敌人. 你能爽快的割草么.
		</li>
	</ul>
</div>