@page "/login"
@inherits LoginPage
<FloatingLabel DisplayText="邮件" @bind-value="Email" TValue="string" />
<br />
<FloatingLabel DisplayText="密码" TValue="string" @bind-value="Password" type="password" />

<br />
<Button IsAsync="true" OnClick="LoginMethod">登录</Button>
