@inherits OfflineModePage
<Card>
	<HeaderTemplate>
		离线模式
	</HeaderTemplate>
	<BodyTemplate>
		<p>
			不同于在线模式. 离线模式不需要登录. 只要页面打开了,不需要网络也能进行游戏. 游戏中也不会产生流量.
		</p>
		
		<p>
			<Button OnClick="OfflineLogin">确认并开始</Button>
		</p>
	</BodyTemplate>
</Card>