<Card>
	<HeaderTemplate>
		离线模式
	</HeaderTemplate>
	<BodyTemplate>
		<p>
			不同于在线模式. 离线模式不需要登录. 只要页面打开了,不需要网络也能进行游戏
		</p>
		<p>
			游戏数据将保存在浏览器的 Indexeddb 中.
		</p>
		<p>
			<Button>确认并开始</Button>
		</p>
	</BodyTemplate>
</Card>