@inherits SkillSelectPage
<h3>选择技能</h3>
@if (Skills != null)
{
  <div>
    @foreach (var s in Skills)
    {
      var s2 = s.SkillNumber;
      <p>
        @(s.SkillNumber == SelectSkillNumber ? "选择" : "")
        <Button Color="Color.Primary" Text="选择技能" OnClick="async ()=> await PickSkill(s2)" />
        @s.SkillName
        @s.Discription
      </p>

    }
  </div>
}


