:root {
  --bb-header-color: #e0e0e0;
  --bb-header-bg: #702cf8;
}

.layout {
  --bb-layout-header-background: var(--bb-header-bg);
  --bb-layout-sidebar-banner-background: var(--bb-header-bg);
  --bb-layout-header-color: var(--bb-header-color);
  --bb-layout-title-color: var(--bb-header-color);
}

  .layout:not(.has-footer) {
    --bb-layout-footer-height: 0px;
  }

.layout-header {
  border-bottom: 1px solid var(--bs-border-color);
}

  .layout-header .widget {
    margin-right: 2rem;
  }

.layout-banner {
  border-bottom: 1px solid var(--bs-border-color);
}

  .layout-banner .layout-logo {
    border: 1px solid var(--bb-header-color);
  }

.layout-side {
  border-right: 1px solid var(--bs-border-color);
}

.layout-footer {
  border-top: 1px solid var(--bs-border-color);
}

.dropdown-logout {
  --bb-logout-text-color: var(--bb-header-color);
}

.logout-avatar {
  border-radius: 50%;
}

.dropdown-user img {
  border-radius: 50%;
}

.layout-drawer {
  padding: 6px;
  cursor: pointer;
}

.widget {
  --bb-widget-toggle-color: var(--bb-header-color);
}

  .widget .dropdown-menu {
    --bs-dropdown-min-width: 16rem;
  }

  .widget .dropdown-body h3 {
    color: #666666;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .widget .dropdown-body h4 {
    color: #444444;
    font-size: 15px;
    margin: 0;
  }

  .widget .dropdown-body small {
    color: #999999;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .widget .dropdown-item {
    padding: 0.5rem 1rem;
    min-width: 100px;
  }

    .widget .dropdown-item > div:not(.progress):last-child {
      width: calc(100% - 40px);
    }

    .widget .dropdown-item.active,
    .widget .dropdown-item:active {
      color: inherit;
    }

    .widget .dropdown-item:not(:nth-of-type(odd)):active {
      background-color: inherit;
    }

  .widget .progress {
    height: 7px;
  }

.table-cell img {
  width: 46px;
  border-radius: var(--bs-border-radius);
}

.table-cell .progress {
  height: 6px;
  margin-top: .5rem;
}

.user-demo-address {
  margin-top: .25rem;
  font-size: 86%;
  color: #c0c4cc;
}

.table-users {
  height: calc(100% - 93px);
}

.cell-label {
  line-height: 35px;
}

.menu {
  --bb-menu-active-color: #702cf8;
  --bb-menu-bar-bg: #702cf8;
  --bb-menu-item-hover-bg: #702cf8;
  --bb-menu-item-hover-color: #fff;
}

.loading-progress {
  position: relative;
  display: block;
  width: 8rem;
  height: 8rem;
  margin: 20vh auto 1rem auto;
}

  .loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
  }

    .loading-progress circle:last-child {
      stroke: #1b6ec2;
      stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
      transition: stroke-dasharray 0.05s ease-in-out;
    }

.loading-progress-text {
  position: absolute;
  text-align: center;
  font-weight: bold;
  inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

  .loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
  }

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

  #blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
  }

@supports not selector(::-webkit-scrollbar) {
  .scroll {
    scrollbar-color: rgba(0,0,0,0.3) rgba(0,0,0,0);
    scrollbar-width: thin;
  }
}
/*#app {
  height: 100vh;
}
section .has-sidebar {
  overflow: hidden;
}
.main_body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}*/
.sticky-top {
  z-index: 1000 !important;
  top: 50px;
}

.mob_box .card-header {
  padding: 0;
  margin: 0;
}

.mob_box .mob_title {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
}

.badge-widget {
  display: inline-block;
  border: solid 1px #ddd;
  border-radius: var(--bs-border-radius);
  /*padding: 6px 12px;*/
  position: relative;
  transition: all .25s linear;
  cursor: pointer;
}

  .badge-widget .badge {
    position: absolute;
    top: -10px;
    right: -20px;
    opacity: 0.8;
  }
.item_popup {
  max-width: 276px;
  min-width: 276px;
}
.compare_popup {
  max-width: 600px !important;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.square-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  .square-content .sub_full span {
    width: 100%;
    height: 100%;
    position: absolute;
  }
.sub_full {
  width: 100%;
  height: 100%;
}
.full_square {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
  .full_square .tag-text {
    white-space: normal;
    line-height: 1rem;
  }
.footer_middle {
  position: absolute;
  bottom: -10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.multi_select {
  position: absolute;
  top: -20px;
  left: -9px;
}

.equip_select_slot .tag {
  border: 1px solid red;
}
.empty_equip_slot {
  border: 1px solid gray;
}
.equip_select_slot .empty_equip_slot {
  border: 1px solid red;
}

.floating-div {
  position: absolute;
  bottom: 0; /* 你可以根据需要调整初始位置 */
  /*left: 50%;*/ /* 你可以根据需要调整初始位置 */
  transform: translateX(-50%);
  /*width: 100px;*/ /* 你可以根据需要调整大小 */
  /*height: 100px;*/ /* 你可以根据需要调整大小 */
  animation: float-up 1s forwards;
}

@keyframes float-up {
  0% {
    transform: translate(100%, 0) scale(1);
  }

  0% {
    transform: translate(100%, -10px) scale(1);
  }

  20% {
    transform: translate(100%, 0px) scale(2.5); /* 向上移动 20px 并放大 1.5 倍 */
  }

  30% {
    transform: translate(100%, 0px) scale(1); /* 向上移动 20px 并放大 1.5 倍 */
  }

  40% {
    transform: translate(100%, -10px); /* 向下回落到接近原来位置并恢复原来大小 */
  }

  100% {
    transform: translate(100%, -100px); /* 继续向上移动 */
  }
}


.floating-hold-div {
  position: absolute;
  bottom: 0; /* 你可以根据需要调整初始位置 */
  /*left: 50%;*/ /* 你可以根据需要调整初始位置 */
  transform: translateX(-50%);
  /*width: 100px;*/ /* 你可以根据需要调整大小 */
  /*height: 100px;*/ /* 你可以根据需要调整大小 */
  animation: float-up-hold 1s forwards;
}
@keyframes float-up-hold {
  0% {
    transform: translateX(-100%) scale(1.5);
  }

  0% {
    transform: translateX(-100%) scale(1.5);
  }

  20% {
    transform: translateX(-100%) scale(2.5); /* 向上移动 20px 并放大 1.5 倍 */
  }

  30% {
    transform: translateX(-100%) scale(2.5); /* 向上移动 20px 并放大 1.5 倍 */
  }

  40% {
    transform: translateX(-100%) scale(2); /* 向下回落到接近原来位置并恢复原来大小 */
  }

  100% {
    transform: translateX(-100%) scale(1.5); /* 继续向上移动 */
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.take_damage {
  animation: shake 0.5s;
}
.attack_player {
  animation: player_attack 0.25s forwards;
}

@keyframes player_attack {
  0% {
    transform: translate(0%, 0);
  }

  50% {
    transform: translate(0%, 14px);
  }
  /* 下砸的距离 */
  100% {
    transform: translate(0%, 0);
  }
}

.attack_enemy {
  animation: enemy_attack 0.25s forwards;
}

@keyframes enemy_attack {
  0% {
    transform: translate(0%, 0);
  }

  50% {
    transform: translate(0%, -14px);
  }
  /* 上砸的距离 */
  100% {
    transform: translate(0%, 0);
  }
}

.sword-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.animated-sprite {
  /*width: 200px;*/ /* 根据你的图像尺寸调整 */
  /*height: 200px;*/ /* 根据你的图像尺寸调整 */
  background: url('../images/slash01/skash_00001.png') no-repeat;
  background-position: center;
  animation: slash1 1s steps(12) infinite;
}

@keyframes slash1 {
  0% {
    background-image: url('../images/slash01/skash_00001.png');
    background-position: center;
  }

  8.33% {
    background-image: url('../images/slash01/skash_00002.png');
    background-position: center;
  }

  16.66% {
    background-image: url('../images/slash01/skash_00003.png');
    background-position: center;
  }

  25% {
    background-image: url('../images/slash01/skash_00004.png');
    background-position: center;
  }

  33.33% {
    background-image: url('../images/slash01/skash_00005.png');
    background-position: center;
  }

  41.66% {
    background-image: url('../images/slash01/skash_00006.png');
    background-position: center;
  }

  50% {
    background-image: url('../images/slash01/skash_00007.png');
    background-position: center;
  }

  58.33% {
    background-image: url('../images/slash01/skash_00008.png');
    background-position: center;
  }

  66.66% {
    background-image: url('../images/slash01/skash_00009.png');
    background-position: center;
  }

  75% {
    background-image: url('../images/slash01/skash_00010.png');
    background-position: center;
  }

  83.33% {
    background-image: url('../images/slash01/skash_00011.png');
    background-position: center;
  }

  91.66% {
    background-image: url('../images/slash01/skash_00012.png');
    background-position: center;
  }

  100% {
    background-image: url('../images/slash01/skash_00001.png');
    background-position: center;
  }
  /* 可以循环回到第一帧 */
}