@inherits ChapterPageBase

@code {
	public override EnumChapter Chapter => EnumChapter.C_1_8;
}
<div>
	<ul>
		<li>
			你再次解锁了一个辅助技能. 更加强力了.
		</li>
		<li>
			一个门神堵住了你出去的道路. 你要击败它才能继续前进
		</li>
		<li>
			战胜 地图 黑暗的海滩 6.
		</li>
	</ul>
</div>