@inherits ChapterPageBase

@code {
	public override EnumChapter Chapter => EnumChapter.C_Non_Open;
}
<div>
	<ul>
		<li>
			您通过了所有的挑战
		</li>
		<li>
			开始无尽的刷子之旅把
		</li>
		<li>
			挑战秘境, 更换装备, 变得更强
		</li>
	</ul>
</div>