@using DQQ.Web.Pages.DQQs.Chapters.Components.Bodies.C0_0s
@inherits Body_Chapter_0_0_Page
<div class="col-6 col-sm-4 col-md-3 col-lg-auto">
	<PulseButton Icon="fa-solid fa-user" OnClick="()=> ShowComponent<C0_0>()" Color="Color.Danger"></PulseButton>
</div>


