@using DQQ.Consts
@inherits CombatCoCosPage
<div style="height:667px;width:375px;">
  @* <IFrame Id="cocos_if" width="375" height="667" Src="@WebConsts.CoCosURL" frameborder="0"></IFrame> *@
  <iframe id="cocos_if" src="@WebConsts.CoCosURL" width="375" height="667"></iframe>
</div>



