@inherits CombatSummaryPage
<Card>
  <HeaderTemplate>
    战斗
  </HeaderTemplate>
  <BodyTemplate>

    <h5>
      <Button IsAsync="true" class="btn" Color="Color.Danger" Text="@(Clicked==true?"稍等片刻":"开始战斗")" OnClick="CombatRequest5" />
    </h5>
    
  </BodyTemplate>
</Card>