@inherits CombatPlayPage
@if (CombatLog != null)
{
  <div>
    波次 @Tick
  </div>
  <div class="row g-3">
    <div class="col-12">
      <div class="row g-3">
        @if (Players != null)
        {
          foreach (var p in Players)
          {
            <ActorBox Actor="p" />
          }
        }
      </div>


    </div>
    <div class="col-12">
      <div class="row g-3">

        @if (Enemies != null)
        {
          foreach (var e in Enemies)
          {
            <ActorBox Actor="e" />


          }
        }
      </div>
    </div>
    <div class="col-12">
      <Console HeaderText="系统监控" Items="MessageItems" Height="126" ShowAutoScroll="true" />
    </div>
  </div>
}
