@if (WithEquips)
{
	<Popover Placement="Placement.Bottom" Content="@ComponentString" IsHtml="true">
		<Tag Color="ThisColor" ShowDismiss="true" OnDismiss="ThisOnDismiss">@Slots.GetString()</Tag>
	</Popover>


}
else
{
	<span>@Slots.GetString()</span>
}



