@if (WithEquips)
{

	<Tag @onclick="()=> ThisClicked()" Color="ThisColor" ShowDismiss="ShowsDismiss" OnDismiss="ThisOnDismiss">@Slots.GetString()</Tag>
}
else
{
	<span @onclick="()=> ThisClicked()">@Slots.GetString()</span>
}



