@inherits ItemBriefPage
<div class="square">
	
		<div class="@ContentClass" >
			<div class="sub_full">
			@if (IsMultiSelect == true && Item != null)
			{
				<div class="multi_select">
					<Checkbox TValue="bool" ShowLabel="false" @bind-Value="@Item.IsSelected" />
				</div>
			}
			<Tag @onclick="()=> OnItemSelected(Item)" Color="@(Item?.GetColor()?? Color.Dark)" class="full_square">
					@Item?.Profile?.Name
					@if (Item?.Profile?.IsStack != true)
					{
						<span>
							[@Item?.ItemLevel]
						</span>
					}
				</Tag>
			</div>

		<div class="footer_full">
			<div class="footer_middle">
				@if (Item?.Profile?.IsStack == true)
				{
					<Badge class="bottom_badge" Color="Color.Primary">@Item.Quantity</Badge>
				}

			</div>
			</div>
		
		</div>
	
</div>