@inherits ChapterPageBase

@code {
	public override EnumChapter Chapter => EnumChapter.C_1_5;
}
<div>
	<ul>
		<li>
			你变得更强了
		</li>
		<li>
			你获得了一个技能槽. 并获得了一个 治疗的技能.
		</li>
		<li>
			回复技能会根据时间徐徐回复你的生命. 会为你接下来的战斗提供一定的帮助
		</li>
		<li>
			战胜 地图 黑暗的海滩 3. 更多的波次. 更多的敌人.
		</li>
	</ul>
</div>