@inherits CombatPlayListPage
<Card>
	<BodyTemplate>
		<BootstrapInputGroup>

			<Button IsDisabled="StartSingleCombatDisabled" Color="Color.Success" OnClick="()=>StartCombat()">开始战斗</Button>
			@if (EnumProgress.CombatContinue.IsUnlocked(SelectedCharacter))
			{
				<Button IsDisabled="StartCombatDisabled" Color="Color.Warning" OnClick="()=>StartCombat(true)">开始在线挂机</Button>
			}
			<Button Color="Color.Danger" OnClick="StopCombat">停止战斗</Button>
			<Button IsDisabled="StartSingleCombatDisabled" Color="Color.Primary" OnClick="BackToMap">选择地图</Button>
		</BootstrapInputGroup>
	</BodyTemplate>
</Card>
<Card>
	<BodyTemplate>
		<div>
			@if (Result != null)
			{
				<p>
					@if (Result.Success == true)
					{
						<span>战斗胜利</span>
					}
					else
					{
						<span>
							战斗失败

						</span>
						@if (Result.CombatTick >= Result.TotalCombatminutes)
						{
							<span>超时</span>
						}
					}
					战斗时间 @Result.CombatTime.ToString("mm 分 ss 秒")
				</p>

			}
		</div>
		<div>
			@if (Status == EnumCombatPlayStatus.FinishPlay && KeepCombat)
			{
				@if (RetryTime > 0)
				{
					<span>@RetryTime 秒后</span>
				}
				<span>准备再次进入战斗</span>
			}
		</div>

	</BodyTemplate>
</Card>
<Card>
	<BodyTemplate>
		<div style="min-height:300px">
			@switch (Status)
			{
				case EnumCombatPlayStatus.Waiting:
					<span>等待中</span>
					break;
				case EnumCombatPlayStatus.Searcing:
					<span>搜索中</span>
					break;
				case EnumCombatPlayStatus.CreateMap:
					<span>准备战斗演出</span>
					break;
				case EnumCombatPlayStatus.Playing:
				case EnumCombatPlayStatus.FinishPlay:
					@if (Result != null)
					{
						<CombatPlaySwitch AfterCombatPlay="OnCombatPlayFinished" PlayType="PlayType" CombatResult="Result" CombatLog="Result.Logs" />

					}
					else
					{
						<span>准备战斗</span>
					}


					break;

				case EnumCombatPlayStatus.Failed:
					<span>出错了. [@RetryTime] 秒后自动尝试</span>
					break;
			}

			@if (Status == EnumCombatPlayStatus.Waiting)
			{
				<span>正在寻找敌人</span>
			}
			@if (Status == EnumCombatPlayStatus.Searcing)
			{
				<span>准备进入战斗</span>
			}

		</div>



	</BodyTemplate>
</Card>



