@inherits CombatPlay
@if (CombatLog != null)
{
	<div>
		<span>战斗进度 @Math.Round(CurrentPlayProgress, 2) %</span>
	</div>
	<div>
		波次 @Tick
	</div>
	<Divider />
	<div class="row g-3">
		@if (Players != null)
		{
			foreach (var p in Players)
			{
				<ActorBox Item="CurrentLog" Actor="p" />
			}
		}
	</div>
	<Divider />
	<div class="row g-3">

		@if (Enemies != null)
		{
			foreach (var e in Enemies)
			{
				<ActorBox Item="CurrentLog" Actor="e" />
			}
		}
	</div>
	<Divider />
	<div class="row g-3">
		<div class="col-12">
			<Console HeaderText="系统监控" Items="MessageItems" Height="126" ShowAutoScroll="true" />
		</div>
	</div>
}
