@inherits CombatPlayListPage

<BootstrapInputGroup>
	<BootstrapInputGroupLabel DisplayText="选择战斗模式" />
	<Select IsDisabled="StatusSelectDisabled" Items="SelectedItemHelper.GetSelectedItem<EnumCombatPlayType>()" @bind-Value="PlayType">
	</Select>
	<Button IsDisabled="StartCombatDisabled" Color="Color.Success" OnClick="StartCombat">开始在线挂机</Button>
	<Button Color="Color.Danger" OnClick="StopCombat">停止战斗</Button>

</BootstrapInputGroup>

<div style="min-height:300px">
	@switch (Status)
	{
		case EnumCombatPlayStatus.Waiting:
			<span>等待中</span>
			break;
		case EnumCombatPlayStatus.Searcing:
			<span>搜索中</span>
			break;
		case EnumCombatPlayStatus.CreateMap:
			<span>正在进入地图</span>
			break;
		case EnumCombatPlayStatus.Playing:
			@if (Result != null)
			{
				<CombatPlaySwitch AfterCombatPlay="OnCombatPlayFinished" PlayType="PlayType" CombatResult="Result" CombatLog="Result.Logs" />

			}
			else
			{
				<span>准备战斗</span>
			}
			break;
		case EnumCombatPlayStatus.FinishPlay:
			<span></span>
			break;
		case EnumCombatPlayStatus.Failed:
			<span>出错了. 请稍等一下并刷新页面进行尝试</span>
			break;
	}

	@if (Status == EnumCombatPlayStatus.Waiting)
	{
		<span>正在寻找敌人</span>
	}
	@if (Status == EnumCombatPlayStatus.Searcing)
	{
		<span>准备进入战斗</span>
	}

</div>




