@inherits ChapterPageBase

@code {
	public override EnumChapter Chapter => EnumChapter.C_1_2;
}
<div>
	<ul>
		<li>
			您获得了战斗的胜利. 快看看是否有什么收获
		</li>
		<li>
			在物品栏, 您可以看到拾取物品和背包. 如果在战斗中有所斩获. 将会在拾取物品中看到战利品. 
		</li>
		<li>
			将您喜欢的战利品捡起来以后可以在背包中装备. 不同的装备可以装备在不同的位置.
		</li>
		<li>
			装备至少2件物品后进行战斗,并获得胜利.
		</li>
	</ul>
</div>